# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django / Flask / Scrapy
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder / Jupyter / IPython
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments and Package Managers
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm-python
.pdm-build/
__pypackages__/
.pixi/*
!.pixi/config.toml

# IDEs (VS Code, PyCharm)
.idea/
.vscode/
.spyderproject
.ropeproject
tempCodeRunnerFile.py

# Tools (Mypy, Ruff, Celery, Redis)
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/
.pypirc
celerybeat-schedule*
celerybeat.pid
*.rdb
*.aof
*.pid

# Application Specific
marimo/_static/
marimo/_lsp/
__marimo__/
.streamlit/
